.line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

h1 {
    text-align: center;
    font-size:300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 16px;
    margin-left: 7px;
}

p {
    font-size: 14px;
    margin-left: 10px;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.textbox {
    position: relative;
    width: 800px;
    height: 830px;
    padding: 10px -10px 10px 10px;
    border: 2px solid white;
    margin: auto;
    
}

img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  